@board-cell-size: 28px;

.chess-grid {
  border-spacing: 1px;
  margin: -1px;

  .cell {
    width: @board-cell-size;
    height: @board-cell-size;
  }

  .chess-man {
  	width: 100%;
  	height: 100%;
  }
}
