.chess-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  margin-top: -50px;

  .winner {
    &:before {
      content: '';
      font-size: 22px;
    }
  
    &.black:before {
      content: '黑方胜';
    }
  
    &.red:before {
      content: '红方胜';
    }
  }

  .player {
    // TODO
  }
}